* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: sandybrown;
  width: 20vw;
  height: 35vw;
  border-radius: 10%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
input {
  margin-left: 25px;
  outline: none;
  border: none;
  width: 13vw;
  height: 2vw;
  border-radius: 1%;
  padding: 2px;
  color: grey;
}
h1 {
  text-align: center;
  color: #333;
  font-size: 3vw;
  padding-bottom: 15px;
  border-bottom: 2px solid gray;
}
.tasks {
  margin-top: 25px;
  margin-left: 13px;
  width: 15vw;
  height: 18vw;
  border-radius: 10%;
  background-color: #fff;
  overflow-y: auto;
  padding: 15px;
}
.tasks ul li {
  margin: 10px;
  font-size: large;
  border-bottom: 1px solid gray;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.tasks ul {
  display: flex;
  /* gap: 10vw; */
  flex-direction: column;
}
.addButton {
  width: 3vw;
  height: 2vw;
  border-radius: 10%;
  border: none;
  outline: none;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: green;
  border: 1px solid green;
  background-color: #fff;
}
.addButton:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: green;
}
#inputset {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.del {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5vw;
  color: rgba(255, 0, 0, 0.89);
  border-radius: 50px;
  padding: 3px;
}
